<div id="title">
  <h1>Search Twitter:
  <input id="search-input" type="search" name="" value="" placeholder="enter a search keyword" />
  </h1>
  <input id="submit-search" type="submit" name="" value="search" />
</div>

<div id="twitter-timeline">
  <ul>
    {{#results}}
    <li>
      <div class='tweetbar'></div>
      <div class="tweet">
        <img class="pic" src={{profile_image_url}} />
        <h1>{{from_user}}</h1><br>
        <p>{{text}}</p> 
      </div>
    </li>
    {{/results}}
  </ul>
  
</div>